.toolbar-spacer {
  flex: 1 1 auto;
}

.spacing {
  margin: 1rem;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  .input {
    text-align: center;
  }
}

.charts {
  display: flex;
  align-items: center;
  justify-content: space-around;
  .chart {
    text-align: center;
    width: 100%;
    margin: .5rem;
  }
}
